# 忽略LaTeX编译过程中生成的临时文件
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.xdv